@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: #ffb43a;
    --hover-color: hsl(37, 94%, 57%);
    --body-color: #1e1e2a;
    --container-color: #2d2e37;
    --text-color: #fcfeff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: var(--body-color);
    color: var(--text-color)
}

.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.logo {
    font-size: 2rem;
    color: var( #ffb43a);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

    .logo span {
        color: var(--main-color);
    }

.search-box {
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 2rem;
}

.bx {
    cursor: pointer;
}

.search-box .bx:hover {
    color: var(--main-color);
}

.search-box .bx {
    font-size: 1.1rem;
}

#search-input {
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 0.938rem;
}

.user {
    display: flex;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.navbar {
    position: fixed;
    top: 30%;
    transform: translate(-50%);
    left: 74px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1em;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}

    .nav-link:hover {
        color: #ffb43a;
        transition: 0.3s all linear;
        transform: scale(1.3)
    }

    .nav-link .bx {
        font-size: 1.6rem;
    }

.nav-link-title {
    font-size: 0.7rem;
}

.home {
    position: relative;
    width: 60rem;
    min-height: 600px;
    display: flex;
    align-items: center;
    margin-top: 2rem !important;
    border-radius: 1rem;
}

.home-img {
    position: absolute;
    width: 60rem;
    z-index: -2;
    object-fit: cover;
    border-radius: 1rem;
}

.home-text {
    padding-top: 350px;
}

.home-title {
    padding-left: 60px;
    font-size: 2rem;
    font-weight: 600;
}

.home-text p {
    color: var(--main-color);
    font-size: 0.938rem;
    padding-left: 70px;
    margin: 3px 0 20px;
}

.watch-btn {
    display: flex;
    padding-left: 60px;
    margin: 10px 4px 17px;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}

    .watch-btn .bx {
        font-size: 21px;
        background: var(--main-color);
        width: 40px;
        height: 40px;
        border-radius: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .watch-btn .bx:hover {
            background: var(--hover-color);
        }

    .watch-btn span {
        font-size: 1rem;
        font-weight: 400;
    }

.trending-movies {
    display: flex;
    align-items: center;
    background: var(--container-color);
    justify-content: space-between;
    margin-left: 125px;
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    width: 60rem;
}

.trending-title {
    font-size: 1.2rem;
    font-weight: 500;
}
